@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

body {
    font-family: 'Cinzel', serif;
    background-image: linear-gradient(rgba(10,10,10,0.7), rgba(10,10,10,0.8)), url('hogwarts.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #d4af37;
    overflow-x: hidden;
}
    

nav {
    text-align: center;
    padding: 20px;
    background-color: #15100b;
    border-bottom: 1px solid #d4af37;
}

nav a {
    color: #d4af37;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: #f5e6c8;
}

section {
    padding: 60px 20px;
    border-bottom: 1px solid #d4af37;
}

#home {
    text-align: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #d4af37;
    margin-bottom: 20px;
}

#home h1, #home h2, section h1 {
    color: #d4af37;
}

#home h1 {
    font-size: 45px;
}

#home a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d3a625;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#home a:hover {
    background-color: #f5e6c8;
}

#about {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.project-card {
    background-color: #15100b;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    border: 1px solid #d4af37;
    border-radius: 10px;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px #d4af37;
}

#contact {
    text-align: center;
    padding-bottom: 80px;
}

#contact a:hover {
    color: #f5e6c8;
}

@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
    #home h1 {
        font-size: 32px;
    }
}

.star-trail{
  position: absolute;
  width: 6px;
  height: 6px;
  background: #d4af37;
  border-radius: 50%;
  box-shadow: 0 0 10px gold;
  pointer-events: none;
}

.hero-img, img[alt="profile"], .profile-img {
  box-shadow: 0 0 20px #f9d342, 0 0 40px #f9d342 !important;
  animation: float 3s ease-in-out infinite !important;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

h1 {
  text-shadow: 0 0 15px #f9d342, 0 0 25px #fff !important;
}